//////////////////////////////
// Seccion para suscribirse //
//////////////////////////////
.footerSubscribe
{
    background-color: cadetblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 192px;

    @include mix_max_width('small')
    {
        height: 280px;
    }

    padding-right: 24px;
    padding-left: 24px;

    h2
    {
        @include mix_font_manager(white, $font-robotoMono, bold, $font-large, 8px, 8px)
    }
    p
    {
        @include mix_font_manager(white, $font-robotoMono, normal, $font-medium, 8px, 8px)
    }
    &__inputs
    {
        @include mix_max_width('small')
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        padding-top: 8px;
        padding-bottom: 8px;

        input
        {
            color: gray;

            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            @include mix_max_width('small')
            {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            width: 192px;
            height: 40px;
            padding-left: 8px;
        }
        button
        {
            color: white;
            background-color: teal;

            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

            width: 96px;
            height: 40px;

            @include mix_max_width('small')
            {
                margin-top: 8px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                width: 192px;
            }

            &:hover
            {
                background-color: darkslategray;
            }
        }
    }
}

////////////////
// Copyright //
///////////////
.footerCopyright
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 64px;

    p
    {
        @include mix_font_manager(black, $font-robotoMono, normal, 16px, 0px, 0px)
    }
}
